@charset "UTF-8";

body {
    background-color: #84e1ad;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin: 0%;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
    background-image:linear-gradient(to top, #1a5b37, #1d734b, #1aa263);
    padding: 20px;
    width: auto;
    margin: 0px;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
    padding: 5px;
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: left;
    padding-right: 25px;
}

nav > a:visited {
    color: white;
    text-align: left;
    text-decoration: none;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    background-color: white;
    width: 80%;
    padding: 5px 35px;
    margin: auto;
    border: 10px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: #1a5b37;
    padding: 20px;
    width: auto;
    margin: 0px;
}

footer > a:visited {
    color: white;
    text-decoration: none;
}

p {
    text-indent: 35px;
}

.img {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "IDroid", cursive;
    color: #1a5b37;
    text-align: left;
}

h3 {
    font-family: "IDroid", cursive;
    color: #1a5b37;
    text-align: left;
    background-image: linear-gradient(to right, #1a5b373b, white);
}

picture {
    display: flex;
    justify-content: center;
    margin: auto;
}

iframe {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 196px;
}



